<div class="wheels" style="background:#399eaa">
  <div class="jumbotron section first-hero" id="first-hero-wheels">
    <h1>Help on Wheels</h1>
  </div>
  <div class="jumbotron section container">

    <h2>Help on Wheels</h2>
    <p>As a proud affiliate of ITN<em>America</em>, ITN<em>{{affiliate}}</em> provides dignified transportation for seniors, and adults with vision challenges.</p>
    <div class="row">
      <div class="col-md-6">
        <p>We help families stay connected and friendships endure. ITN<em>{{affiliate}}</em> helps adult children minimize absenteeism from work, businesses remain profitable, and enables seniors to begin a new chapter in their lives that replaces dependence and isolation with independence and mobility.</p>

      </div>

      <div class="col-md-6">
        <img ng-src="{{assetsPath}}/images/HelpOnWheelsCrop.jpg"/>
      </div>
    </div><!--row-->

    <p>ITN<em>{{affiliate}}</em> provides over 2,000 rides a year. The average cost to ITN of providing each ride is $12 (in addition to the fee paid by the rider). Our newest fundraising campaign, Help On Wheels, aims to cover the cost of these rides, and will allow ITN to continue to grow and serve the community.</p>

    <div class="row">
      <div class="col-md-6">
        <p>With a $12 per month recurring donation, you can support one ride per month to a rider living on limited income.</p>

        <p>Our goal is to collect 100 recurring donations of $12 per month each.</p>

        <p>It takes only a couple of minutes to sign up. Please do so today and help us help riders be independent and mobile.</p>
      </div>
      <div class="col-md-6">
        <img ng-src="{{assetsPath}}/images/donation-icon.jpg" style="height:250px;margin:10%"/>
      </div>
    </div>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="38EY9J64C3X84">
      <table>
      <tr><td><input type="hidden" name="on0" value="Amount">Amount</td></tr><tr><td><select name="os0">
      <option value="Compact">Compact : $12.00 USD - monthly</option>
      <option value="Sedan">Sedan : $15.00 USD - monthly</option>
      <option value="SUV">SUV : $20.00 USD - monthly</option>
      </select> </td></tr>
      <tr><td><input type="hidden" name="on1" value="Send us a message:">Send us a message:</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
      </table>
      <input type="hidden" name="currency_code" value="USD">
      <input style="margin-top:3%;height:70px;float:left" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


  </div>
</div>
